.total-user{
    width: 15rem !important;
    height: 8rem !important;
    margin: auto !important;
    margin-top: 2rem !important;
}
#show-img{
    width: 15rem !important;
    height: 10rem !important;
    margin: auto !important;
    margin-top: 2rem !important;
}
#butoons-game{
    display: flex;
    flex-direction: column !important;
}
img{
    width: 8rem;
    height: 8rem;
    margin-top:1rem ;
}