

// utility class 

.h-column{
    height: 13cm !important;
}
.mt-1rem{
    margin-top: 1rem !important;
}
.mt-2rem{
    margin-top: 2rem !important;
}
.mb-2rem{
    margin-bottom: 2rem !important;
}
.bg-active{
    background-color: darkgreen;
}